BeautifulSoup==3.2.1
Django==1.3.5
Pygments==1.6
South==0.7.6
django-disqus==0.4.1
flickrapi==1.4.2
gunicorn==0.17.2
httplib2==0.8
oauth2==1.5.211
psycopg2==2.4.6
pylast==0.5.11
python-twitter==0.8.7
simplejson==3.1.0
wsgiref==0.1.2
