/* Begin: Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End: Reset */

/* Type */
@font-face {
    font-family: 'RalewayThin';
    src: url('raleway_thin-webfont.eot');
    src: url('raleway_thin-webfont.eot?iefix') format('eot'),
         url('raleway_thin-webfont.woff') format('woff'),
         url('raleway_thin-webfont.ttf') format('truetype'),
         url('raleway_thin-webfont.svg#webfontnF3kUzPR') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: Cambria, Georgia, "Times New Roman", serif;
	line-height: 150%;
}

h1 {
	text-transform: lowercase;
	font-family: 'RalewayThin', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
	font-size: 58px;
	line-height: 58px;
	margin: 20px 0;
}

h2, h3 {
	font-family: 'RalewayThin', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
	font-size: 22px;
	margin: 20px 0 5px 0;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
}

p, ul, ol {
	font-size: 14px;
	margin: 20px 0;
}

.itemised_list {
	list-style-type: disc;
}

li {
	margin: 10px 0;
}

#footer p {
	font-size: 11px;
	font-style: italic;
}

#footer p.right {
	padding-right: 20px;
}

/* Colours */
h1 a:link,
h1 a:visited {
	text-decoration: none;
	color: #B58900;
}

h1 a:hover {
	background-color: #d33682;
	color: #eee8d5;
	text-decoration: none;
}

h2, h3 {
	color: #859900;
}

h2, h3,
h2 a:link, h3 a:link,
h2 a:visited, h3 a:visited {
	text-decoration: none;
}

h2 a:hover, h3 a:hover {
	text-decoration: underline;
}

body {
	background-color: #002b36;
	color: #FDF6E3;
}

#footer {
	background-color: #073642;
	color: #859900;
}

a:link,
a:visited {
	color: #d33682;
	text-decoration: underline;
}

a:hover {
	background-color: #d33682;
	color: #FDF6E3;
	text-decoration: none;
}

p.date {
	color: #93a1a1;
	font-style: italic;
}

/* Layout */
.left {
	float: left;
}

.right {
	float: right;
}

.wrapper {
	width: 880px;
	margin: 0 auto;
	padding: 20px 0	;
}

#header {
	padding-bottom: 0;
}

#content {
	overflow: hidden;
}

#main-content {
	width: 480px;
	float: left;
}

#sub-content {
	width: 360px;
	float: right;
	padding: 0 0 0 40px;
}

#footer {
	overflow: hidden;
	clear: left;
	text-align: center;
	padding: 5px 0;
}

.feed {
    height: 12px;
    padding: 0 0 0 12px;
    background: url("/static/images/feed_43.png") no-repeat 0 50%;
}

.feed a:hover {
	text-decoration: none;
	border: none;
}

.article {
	overflow: hidden;
}

p.date {
	font-size: 11px;
	margin-top: 0;
}

/* Pagination */
.pagination-controls {
	width: 100%;
}

.pagination-controls li {
	float: left;
	width: 33.33%;
	margin-left: 0px;
	list-style: none;
}

.pagination-controls .current {
	text-align: center;
}

.pagination-controls .next {
	text-align: right;
}
/* end: Pagination */

/* Syntax highlighting. Taken from pygments monokai style */
pre { font-family: "courier new", courier; font-size: 12px; overflow: auto; word-wrap: break-word; background-color: #073642; padding: 10px; }
.hll { background-color: #49483e }
.c { color: #75715e } /* Comment */
.err { color: #960050; background-color: #1e0010 } /* Error */
.k { color: #66d9ef } /* Keyword */
.l { color: #ae81ff } /* Literal */
.n { color: #f8f8f2 } /* Name */
.o { color: #f92672 } /* Operator */
.p { color: #f8f8f2 } /* Punctuation */
.cm { color: #75715e } /* Comment.Multiline */
.cp { color: #75715e } /* Comment.Preproc */
.c1 { color: #75715e } /* Comment.Single */
.cs { color: #75715e } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: #66d9ef } /* Keyword.Constant */
.kd { color: #66d9ef } /* Keyword.Declaration */
.kn { color: #f92672 } /* Keyword.Namespace */
.kp { color: #66d9ef } /* Keyword.Pseudo */
.kr { color: #66d9ef } /* Keyword.Reserved */
.kt { color: #66d9ef } /* Keyword.Type */
.ld { color: #e6db74 } /* Literal.Date */
.m { color: #ae81ff } /* Literal.Number */
.s { color: #e6db74 } /* Literal.String */
.na { color: #a6e22e } /* Name.Attribute */
.nb { color: #f8f8f2 } /* Name.Builtin */
.nc { color: #a6e22e } /* Name.Class */
.no { color: #66d9ef } /* Name.Constant */
.nd { color: #a6e22e } /* Name.Decorator */
.ni { color: #f8f8f2 } /* Name.Entity */
.ne { color: #a6e22e } /* Name.Exception */
.nf { color: #a6e22e } /* Name.Function */
.nl { color: #f8f8f2 } /* Name.Label */
.nn { color: #f8f8f2 } /* Name.Namespace */
.nx { color: #a6e22e } /* Name.Other */
.py { color: #f8f8f2 } /* Name.Property */
.nt { color: #f92672 } /* Name.Tag */
.nv { color: #f8f8f2 } /* Name.Variable */
.ow { color: #f92672 } /* Operator.Word */
.w { color: #f8f8f2 } /* Text.Whitespace */
.mf { color: #ae81ff } /* Literal.Number.Float */
.mh { color: #ae81ff } /* Literal.Number.Hex */
.mi { color: #ae81ff } /* Literal.Number.Integer */
.mo { color: #ae81ff } /* Literal.Number.Oct */
.sb { color: #e6db74 } /* Literal.String.Backtick */
.sc { color: #e6db74 } /* Literal.String.Char */
.sd { color: #e6db74 } /* Literal.String.Doc */
.s2 { color: #e6db74 } /* Literal.String.Double */
.se { color: #ae81ff } /* Literal.String.Escape */
.sh { color: #e6db74 } /* Literal.String.Heredoc */
.si { color: #e6db74 } /* Literal.String.Interpol */
.sx { color: #e6db74 } /* Literal.String.Other */
.sr { color: #e6db74 } /* Literal.String.Regex */
.s1 { color: #e6db74 } /* Literal.String.Single */
.ss { color: #e6db74 } /* Literal.String.Symbol */
.bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.vc { color: #f8f8f2 } /* Name.Variable.Class */
.vg { color: #f8f8f2 } /* Name.Variable.Global */
.vi { color: #f8f8f2 } /* Name.Variable.Instance */
.il { color: #ae81ff } /* Literal.Number.Integer.Long */
