<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="http://mrben.co.uk/feed/" rel="alternate" type="application/atom+xml" title="mrben.co.uk's blog" />
	<link href="http://fonts.googleapis.com/css?family=Terminal+Dosis+Light:regular" rel="stylesheet" type="text/css" >
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/site.css" type="text/css" media="screen" />
	<!--[if IE 6]><link rel="stylesheet" href="/static/css/ie6.css" type="text/css" media="screen" /><![endif]-->
	<title>mrben - {% block title %}{% endblock %}</title>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-6335887-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<div id="header" class="wrapper">
		<h1><a href="/">mrben.co.uk</a></h1>
	</div>
		
	<div id="content" class="wrapper">
		{% block full_content %}
			<div id="main-content">
				{% block content %}{% endblock %}
			</div>
			{% block features %}
				<div id="sub-content">
					{% include 'includes/about_me_sidebar.html' %}					
				</div>
			{% endblock %}
		{% endblock %}
	</div>
	<div id="footer">
		<p>Made by Ben Tappin. <a href="http://mrben.co.uk/feed/" class="feed"></a></p>
	</div>
</body>
</html>
