{% extends 'base.html' %}

{% load humanize %}

{% block title %}web developer and tinkerer{% endblock %}

{% block content %}
	<div class="article">
		{% if title %}
			<h2>{{ title }}</h2>
		{% endif %}
		{% for entry in entries.object_list %}
			<div class="article">
				<h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
				<p class="date">{{ entry.publish|naturalday|capfirst }}</p>
			</div>
			{% if not forloop.last %}
			<hr />
			{% endif %}
		{% endfor %}
	</div>
	<hr />
	{% with entries as page %}
		{% include 'includes/pagination.html' %}
	{% endwith %}
{% endblock %}
