{% load humanize %}
{% load disqus_tags %}
{% disqus_dev %}

{% if entry %}
		<h3 class="entry_title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
		
			<div class="blog_body">
			<p class="blog_date">{{ entry.publish|naturalday|capfirst }}</p>
			{{ entry.body|safe }}
			</div>
			
			<p class="inline_categories"><em>Categories: {% for category in entry.categories.all %}<a href="/category/{{ category.title }}">{{ category.title }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</em></p>
			
			<p class="comment_count"><a href="{{ entry.get_absolute_url }}#disqus_thread">View Comments</a></p>
			{% disqus_num_replies %}
			
			{% if show_comments %}
				{% disqus_show_comments %}
			{% endif %}
{% else %}
<p>Error finding entry.</p>
{% endif %}
