<div class="pagination">
	<ul class="pagination-controls">
		<li class="previous">
			{% if page.has_previous %}
				<a href="?page={{ page.previous_page_number }}">
			{% endif %}
			&laquo;&nbsp;newer
			{% if page.has_previous %}
				</a>
			{% endif %}
		</li>
		
		<li class="current">
			page {{ page.number }} of {{ page.paginator.num_pages }}
		</li>
	
		<li class="next">
			{% if page.has_next %}
				<a href="?page={{ page.next_page_number }}">
			{% endif %}
			older&nbsp;&raquo;
			{% if page.has_next %}
				</a>
			{% endif %}
		</li>
	</ul>
</div>
