{% extends 'base.html' %}

{% load humanize %}

{% block title %}web developer and tinkerer{% endblock %}

{% block content %}

<div id="blog" class="is_readable">
	<h2>{{ title }}</h2>
	<ul class="entries_list">
		<li class="blog_wrapper">
		{% for entry in entries.object_list %}
		
			{% include 'includes/entry.html' %}
			
			{% if not forloop.last %}
			<hr />
			{% endif %}
			
		{% endfor %}
		</li>
	</ul>
	<hr />
	{% with entries as page %}
		{% include 'includes/pagination.html' %}
	{% endwith %}
</div>

{% include 'includes/project_feature.html' %}

{% include 'includes/links.html %}

{% include 'includes/secondary/photo.html' %}

{% endblock %}