{% extends 'base.html' %}

{% load comments humanize %}

{% block title %}web developer and tinkerer{% endblock %}

{% block content %}

<div id="blog" class="is_readable">
	<h2>Some of my news</h2>
	<ul class="entries_list">
		<li class="blog_wrapper">
		{% for entry in entry_list %}
		
			{% include 'includes/entry.html' %}
			
			{% if not forloop.last %}
			<hr />
			{% endif %}
			
		{% endfor %}
		</li>
	</ul>
</div>

<div class="feature is_readable">
	<h2>Something I did</h2>
	<h3>{{ project.title }}</h3>
	{{ project.teaser|safe }}
	
	<a class="more_link" href="{{ project.get_absolute_url }}">More...</a>
</div>

<div class="feature is_readable">
	<h2>Some links ordered alphabetically</h2>
	{% include 'includes/links.html' %}
</div>

{% include 'includes/photo.html' %}

{% endblock %}