{% extends 'base.html' %}

{% load comments humanize %}

{% block title %}web developer and tinkerer{% endblock %}

{% block content %}

<div id="blog" class="is_readable steve">
	<h2>Some of my news</h2>
	<ul class="entries_list">
		<li class="blog_wrapper">
		{% for entry in entry_list %}
		
			{% include 'includes/entry.html' %}
			
			{% if not forloop.last %}
			<hr />
			{% endif %}
			
		{% endfor %}
		</li>
	</ul>
</div>

{% include 'includes/project_feature.html' %}

{% include 'includes/links.html %}

{% include 'includes/photo.html' %}

{% endblock %}